.navigation {
    display: flex;
    justify-content: flex-end;
    height: 35px;
    line-height: 35px;
    background-color: #110dfc;
    & ul {
        display: flex;
        list-style: none;
        margin-right: 20px;
        & li {
            margin-right: 20px;
            cursor: pointer;
            & a {
                color: #fff;
                font-size: 20px;
                text-decoration: none;
                &:hover {
                    color: #0dfc39
                }
            }
        }
    }
}