* {
    outline:0 none !important;
}
#app {
    display: flex;
    height: 100vh;
    flex-direction: column
}
.d-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }
.d-tr {
    display: table-row;
}
.d-td {
    display: table-cell;
    text-align: center;
    border: none;
    border: 1px solid #ccc;
    vertical-align: middle;
}
.d-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 35px);
    max-width: 80%;
    margin: 0 auto;
}
.b-container {
    display: flex;
    justify-content: space-around;
    margin: 2%;
}
button {
    border-radius: 10px !important;
    border: 1px;
}
button:hover {
    background-color: blue !important;
    color: #fff;
}
.link {
    color: #000;
    text-decoration: none
}
.link:hover {
    color:#fff;
    text-decoration: none
}
.f-right {
    float: right;
}
.mr-10 {
    margin-right: 10px;
}
.addItem {
    float: right;
    margin-bottom: 5px;
}

