.authorizeForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 35px);
    flex-direction: column
}
.authorize {
    display: flex;
    margin-top: 15px
}

